# Imports

In [43]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

#------------- Preproccessing------------
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [44]:
csv_path = 'archive/'
data_dicts = {csv_name[:-4]: pd.read_csv(csv_path+csv_name) for csv_name in os.listdir(csv_path)}

In [45]:
data_dicts.keys()

dict_keys(['assessments', 'courses', 'studentAssessment', 'studentInfo', 'studentRegistration', 'studentVle', 'vle'])

In [46]:
def show_data_info(df):
    print(40 * "=" , "head" ,40 * "="  )
    print(df.head())
    print(40 * "=", "shape" ,40 * "=" )
    print(df.shape)
    print(40 * "=", "info" ,40 * "=" )
    print(df.info())
    print(40 * "=", "describe" ,40 * "=" )
    print(df.describe())
    print(100 * "=" )

In [69]:
show_data_info(data_dicts["studentInfo"])

======================================== head ========================================
  code_module code_presentation  id_student gender                region  \
0         AAA             2013J       11391      M   East Anglian Region
1         AAA             2013J       28400      F              Scotland
2         AAA             2013J       30268      F  North Western Region
3         AAA             2013J       31604      F     South East Region
4         AAA             2013J       32885      F  West Midlands Region

       highest_education imd_band age_band  num_of_prev_attempts  \
0       HE Qualification  90-100%     55<=                     0
1       HE Qualification   20-30%    35-55                     0
2  A Level or Equivalent   30-40%    35-55                     0
3  A Level or Equivalent   50-60%    35-55                     0
4     Lower Than A Level   50-60%     0-35                     0

   studied_credits disability final_result
0              240          N         Pass
1               60          N         Pass
2               60          Y    Withdrawn
3               60          N         Pass
4               60          N         Pass
======================================== shape ========================================
(32593, 12)
======================================== info ========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32593 entries, 0 to 32592
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   code_module           32593 non-null  object
 1   code_presentation     32593 non-null  object
 2   id_student            32593 non-null  int64
 3   gender                32593 non-null  object
 4   region                32593 non-null  object
 5   highest_education     32593 non-null  object
 6   imd_band              31482 non-null  object
 7   age_band              32593 non-null  object
 8   num_of_prev_attempts  32593 non-null  int64
 9   studied_credits       32593 non-null  int64
 10  disability            32593 non-null  object
 11  final_result          32593 non-null  object
dtypes: int64(3), object(9)
memory usage: 3.0+ MB
None
======================================== describe ========================================
         id_student  num_of_prev_attempts  studied_credits
count  3.259300e+04          32593.000000     32593.000000
mean   7.066877e+05              0.163225        79.758691
std    5.491673e+05              0.479758        41.071900
min    3.733000e+03              0.000000        30.000000
25%    5.085730e+05              0.000000        60.000000
50%    5.903100e+05              0.000000        60.000000
75%    6.444530e+05              0.000000       120.000000
max    2.716795e+06              6.000000       655.000000
====================================================================================================

In [47]:
show_data_info(data_dicts["assessments"])

======================================== head ========================================
  code_module code_presentation  id_assessment assessment_type   date  weight
0         AAA             2013J           1752             TMA   19.0    10.0
1         AAA             2013J           1753             TMA   54.0    20.0
2         AAA             2013J           1754             TMA  117.0    20.0
3         AAA             2013J           1755             TMA  166.0    20.0
4         AAA             2013J           1756             TMA  215.0    30.0
======================================== shape ========================================
(206, 6)
======================================== info ========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code_module        206 non-null    object
 1   code_presentation  206 non-null    object
 2   id_assessment      206 non-null    int64
 3   assessment_type    206 non-null    object
 4   date               195 non-null    float64
 5   weight             206 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 9.8+ KB
None
======================================== describe ========================================
       id_assessment        date      weight
count     206.000000  195.000000  206.000000
mean    26473.975728  145.005128   20.873786
std     10098.625521   76.001119   30.384224
min      1752.000000   12.000000    0.000000
25%     15023.250000   71.000000    0.000000
50%     25364.500000  152.000000   12.500000
75%     34891.750000  222.000000   24.250000
max     40088.000000  261.000000  100.000000
====================================================================================================

In [48]:
show_data_info(data_dicts["courses"])

======================================== head ========================================
  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240
======================================== shape ========================================
(22, 3)
======================================== info ========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   code_module                 22 non-null     object
 1   code_presentation           22 non-null     object
 2   module_presentation_length  22 non-null     int64
dtypes: int64(1), object(2)
memory usage: 660.0+ bytes
None
======================================== describe ========================================
       module_presentation_length
count                   22.000000
mean                   255.545455
std                     13.654677
min                    234.000000
25%                    241.000000
50%                    261.500000
75%                    268.000000
max                    269.000000
====================================================================================================

In [49]:
show_data_info(data_dicts["studentAssessment"])

======================================== head ========================================
   id_assessment  id_student  date_submitted  is_banked  score
0           1752       11391              18          0   78.0
1           1752       28400              22          0   70.0
2           1752       31604              17          0   72.0
3           1752       32885              26          0   69.0
4           1752       38053              19          0   79.0
======================================== shape ========================================
(173912, 5)
======================================== info ========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173912 entries, 0 to 173911
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id_assessment   173912 non-null  int64
 1   id_student      173912 non-null  int64
 2   date_submitted  173912 non-null  int64
 3   is_banked       173912 non-null  int64
 4   score           173739 non-null  float64
dtypes: float64(1), int64(4)
memory usage: 6.6 MB
None
======================================== describe ========================================
       id_assessment    id_student  date_submitted      is_banked  \
count  173912.000000  1.739120e+05   173912.000000  173912.000000
mean    26553.803556  7.051507e+05      116.032942       0.010977
std      8829.784254  5.523952e+05       71.484148       0.104194
min      1752.000000  6.516000e+03      -11.000000       0.000000
25%     15022.000000  5.044290e+05       51.000000       0.000000
50%     25359.000000  5.852080e+05      116.000000       0.000000
75%     34883.000000  6.344980e+05      173.000000       0.000000
max     37443.000000  2.698588e+06      608.000000       1.000000

               score
count  173739.000000
mean       75.799573
std        18.798107
min         0.000000
25%        65.000000
50%        80.000000
75%        90.000000
max       100.000000
====================================================================================================

In [50]:
show_data_info(data_dicts["studentRegistration"])

======================================== head ========================================
  code_module code_presentation  id_student  date_registration  \
0         AAA             2013J       11391             -159.0
1         AAA             2013J       28400              -53.0
2         AAA             2013J       30268              -92.0
3         AAA             2013J       31604              -52.0
4         AAA             2013J       32885             -176.0

   date_unregistration
0                  NaN
1                  NaN
2                 12.0
3                  NaN
4                  NaN
======================================== shape ========================================
(32593, 5)
======================================== info ========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32593 entries, 0 to 32592
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   code_module          32593 non-null  object
 1   code_presentation    32593 non-null  object
 2   id_student           32593 non-null  int64
 3   date_registration    32548 non-null  float64
 4   date_unregistration  10072 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.2+ MB
None
======================================== describe ========================================
         id_student  date_registration  date_unregistration
count  3.259300e+04       32548.000000         10072.000000
mean   7.066877e+05         -69.411300            49.757645
std    5.491673e+05          49.260522            82.460890
min    3.733000e+03        -322.000000          -365.000000
25%    5.085730e+05        -100.000000            -2.000000
50%    5.903100e+05         -57.000000            27.000000
75%    6.444530e+05         -29.000000           109.000000
max    2.716795e+06         167.000000           444.000000
====================================================================================================

In [51]:
show_data_info(data_dicts["studentVle"])

======================================== head ========================================
  code_module code_presentation  id_student  id_site  date  sum_click
0         AAA             2013J       28400   546652   -10          4
1         AAA             2013J       28400   546652   -10          1
2         AAA             2013J       28400   546652   -10          1
3         AAA             2013J       28400   546614   -10         11
4         AAA             2013J       28400   546714   -10          1
======================================== shape ========================================
(10655280, 6)
======================================== info ========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10655280 entries, 0 to 10655279
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   code_module        object
 1   code_presentation  object
 2   id_student         int64
 3   id_site            int64
 4   date               int64
 5   sum_click          int64
dtypes: int64(4), object(2)
memory usage: 487.8+ MB
None
======================================== describe ========================================
         id_student       id_site          date     sum_click
count  1.065528e+07  1.065528e+07  1.065528e+07  1.065528e+07
mean   7.333336e+05  7.383234e+05  9.517400e+01  3.716946e+00
std    5.827060e+05  1.312196e+05  7.607130e+01  8.849047e+00
min    6.516000e+03  5.267210e+05 -2.500000e+01  1.000000e+00
25%    5.077430e+05  6.735190e+05  2.500000e+01  1.000000e+00
50%    5.882360e+05  7.300690e+05  8.600000e+01  2.000000e+00
75%    6.464840e+05  8.770300e+05  1.560000e+02  3.000000e+00
max    2.698588e+06  1.049562e+06  2.690000e+02  6.977000e+03
====================================================================================================

In [52]:
show_data_info(data_dicts["vle"])

======================================== head ========================================
   id_site code_module code_presentation activity_type  week_from  week_to
0   546943         AAA             2013J      resource        NaN      NaN
1   546712         AAA             2013J     oucontent        NaN      NaN
2   546998         AAA             2013J      resource        NaN      NaN
3   546888         AAA             2013J           url        NaN      NaN
4   547035         AAA             2013J      resource        NaN      NaN
======================================== shape ========================================
(6364, 6)
======================================== info ========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6364 entries, 0 to 6363
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_site            6364 non-null   int64
 1   code_module        6364 non-null   object
 2   code_presentation  6364 non-null   object
 3   activity_type      6364 non-null   object
 4   week_from          1121 non-null   float64
 5   week_to            1121 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 298.4+ KB
None
======================================== describe ========================================
            id_site    week_from      week_to
count  6.364000e+03  1121.000000  1121.000000
mean   7.260991e+05    15.204282    15.214987
std    1.283151e+05     8.792865     8.779806
min    5.267210e+05     0.000000     0.000000
25%    6.615928e+05     8.000000     8.000000
50%    7.300965e+05    15.000000    15.000000
75%    8.140162e+05    22.000000    22.000000
max    1.077905e+06    29.000000    29.000000
====================================================================================================

# Data Cleaning

# ___________________ Merge ___________________

In [53]:
# unpacking the data_dicts
studentInfo_df = data_dicts['studentInfo']
studentRegistration_df = data_dicts['studentRegistration']
studentAssessment_df = data_dicts['studentAssessment']
assessments_df = data_dicts['assessments']
studentVle_df = data_dicts['studentVle']
vle_df = data_dicts['vle']
courses_df = data_dicts['courses']

In [54]:
# student info with registration
student_df = pd.merge(studentInfo_df, studentRegistration_df, 
                      on=['code_module', 'code_presentation', 'id_student'], 
                      how='left')

In [55]:
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32593 entries, 0 to 32592
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   code_module           32593 non-null  object
 1   code_presentation     32593 non-null  object
 2   id_student            32593 non-null  int64
 3   gender                32593 non-null  object
 4   region                32593 non-null  object
 5   highest_education     32593 non-null  object
 6   imd_band              31482 non-null  object
 7   age_band              32593 non-null  object
 8   num_of_prev_attempts  32593 non-null  int64
 9   studied_credits       32593 non-null  int64
 10  disability            32593 non-null  object
 11  final_result          32593 non-null  object
 12  date_registration     32548 non-null  float64
 13  date_unregistration   10072 non-null  float64
dtypes: float64(2), int64(3), object(9)
memory usage: 3.5+ MB

In [71]:
student_df.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,date_registration,date_unregistration
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass,-53.0,NaN
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn,-92.0,12.0
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass,-52.0,NaN
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass,-176.0,NaN

In [56]:
# student assessments with assessment details
assessments_combined_df = pd.merge(studentAssessment_df, assessments_df, 
                                   on='id_assessment', 
                                   how='left')

In [57]:
assessments_combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173912 entries, 0 to 173911
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id_assessment      173912 non-null  int64
 1   id_student         173912 non-null  int64
 2   date_submitted     173912 non-null  int64
 3   is_banked          173912 non-null  int64
 4   score              173739 non-null  float64
 5   code_module        173912 non-null  object
 6   code_presentation  173912 non-null  object
 7   assessment_type    173912 non-null  object
 8   date               171047 non-null  float64
 9   weight             173912 non-null  float64
dtypes: float64(3), int64(4), object(3)
memory usage: 13.3+ MB

In [72]:
assessments_combined_df.head()

,id_assessment,id_student,date_submitted,is_banked,score,code_module,code_presentation,assessment_type,date,weight
0,1752,11391,18,0,78.0,AAA,2013J,TMA,19.0,10.0
1,1752,28400,22,0,70.0,AAA,2013J,TMA,19.0,10.0
2,1752,31604,17,0,72.0,AAA,2013J,TMA,19.0,10.0
3,1752,32885,26,0,69.0,AAA,2013J,TMA,19.0,10.0
4,1752,38053,19,0,79.0,AAA,2013J,TMA,19.0,10.0

In [58]:
# student info + registration with assessments
student_assessments_df = pd.merge(student_df, assessments_combined_df, 
                                  on=['id_student', 'code_module', 'code_presentation'], 
                                  how='left')

In [59]:
student_assessments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180662 entries, 0 to 180661
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   code_module           180662 non-null  object
 1   code_presentation     180662 non-null  object
 2   id_student            180662 non-null  int64
 3   gender                180662 non-null  object
 4   region                180662 non-null  object
 5   highest_education     180662 non-null  object
 6   imd_band              172852 non-null  object
 7   age_band              180662 non-null  object
 8   num_of_prev_attempts  180662 non-null  int64
 9   studied_credits       180662 non-null  int64
 10  disability            180662 non-null  object
 11  final_result          180662 non-null  object
 12  date_registration     180614 non-null  float64
 13  date_unregistration   18454 non-null   float64
 14  id_assessment         173912 non-null  float64
 15  date_submitted        173912 non-null  float64
 16  is_banked             173912 non-null  float64
 17  score                 173739 non-null  float64
 18  assessment_type       173912 non-null  object
 19  date                  171047 non-null  float64
 20  weight                173912 non-null  float64
dtypes: float64(8), int64(3), object(10)
memory usage: 28.9+ MB

In [73]:
student_assessments_df.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,date_registration,date_unregistration,id_assessment,date_submitted,is_banked,score,assessment_type,date,weight
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN,1752.0,18.0,0.0,78.0,TMA,19.0,10.0
1,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN,1753.0,53.0,0.0,85.0,TMA,54.0,20.0
2,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN,1754.0,115.0,0.0,80.0,TMA,117.0,20.0
3,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN,1755.0,164.0,0.0,85.0,TMA,166.0,20.0
4,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN,1756.0,212.0,0.0,82.0,TMA,215.0,30.0

In [60]:
# VLE interactions with VLE details
student_vle_combined_df = pd.merge(studentVle_df, vle_df, 
                                   on=['id_site', 'code_module', 'code_presentation'], 
                                   how='left')

In [61]:
student_vle_combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10655280 entries, 0 to 10655279
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   code_module        object
 1   code_presentation  object
 2   id_student         int64
 3   id_site            int64
 4   date               int64
 5   sum_click          int64
 6   activity_type      object
 7   week_from          float64
 8   week_to            float64
dtypes: float64(2), int64(4), object(3)
memory usage: 731.6+ MB

In [62]:
# aggregate VLE clicks per student-module-presentation
vle_agg_df = student_vle_combined_df.groupby(
    ['id_student', 'code_module', 'code_presentation']
).agg(
    total_clicks=pd.NamedAgg(column='sum_click', aggfunc='sum')
).reset_index()

In [63]:
vle_agg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29228 entries, 0 to 29227
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_student         29228 non-null  int64
 1   code_module        29228 non-null  object
 2   code_presentation  29228 non-null  object
 3   total_clicks       29228 non-null  int64
dtypes: int64(2), object(2)
memory usage: 913.5+ KB

In [64]:
# the VLE aggregated data
final_df = pd.merge(student_assessments_df, vle_agg_df, 
                    on=['id_student', 'code_module', 'code_presentation'], 
                    how='left')

In [65]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180662 entries, 0 to 180661
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   code_module           180662 non-null  object
 1   code_presentation     180662 non-null  object
 2   id_student            180662 non-null  int64
 3   gender                180662 non-null  object
 4   region                180662 non-null  object
 5   highest_education     180662 non-null  object
 6   imd_band              172852 non-null  object
 7   age_band              180662 non-null  object
 8   num_of_prev_attempts  180662 non-null  int64
 9   studied_credits       180662 non-null  int64
 10  disability            180662 non-null  object
 11  final_result          180662 non-null  object
 12  date_registration     180614 non-null  float64
 13  date_unregistration   18454 non-null   float64
 14  id_assessment         173912 non-null  float64
 15  date_submitted        173912 non-null  float64
 16  is_banked             173912 non-null  float64
 17  score                 173739 non-null  float64
 18  assessment_type       173912 non-null  object
 19  date                  171047 non-null  float64
 20  weight                173912 non-null  float64
 21  total_clicks          177179 non-null  float64
dtypes: float64(9), int64(3), object(10)
memory usage: 30.3+ MB

In [66]:
# final course details
final_df = pd.merge(final_df, courses_df, 
                    on=['code_module', 'code_presentation'], 
                    how='left')

In [67]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180662 entries, 0 to 180661
Data columns (total 23 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   code_module                 180662 non-null  object
 1   code_presentation           180662 non-null  object
 2   id_student                  180662 non-null  int64
 3   gender                      180662 non-null  object
 4   region                      180662 non-null  object
 5   highest_education           180662 non-null  object
 6   imd_band                    172852 non-null  object
 7   age_band                    180662 non-null  object
 8   num_of_prev_attempts        180662 non-null  int64
 9   studied_credits             180662 non-null  int64
 10  disability                  180662 non-null  object
 11  final_result                180662 non-null  object
 12  date_registration           180614 non-null  float64
 13  date_unregistration         18454 non-null   float64
 14  id_assessment               173912 non-null  float64
 15  date_submitted              173912 non-null  float64
 16  is_banked                   173912 non-null  float64
 17  score                       173739 non-null  float64
 18  assessment_type             173912 non-null  object
 19  date                        171047 non-null  float64
 20  weight                      173912 non-null  float64
 21  total_clicks                177179 non-null  float64
 22  module_presentation_length  180662 non-null  int64
dtypes: float64(9), int64(4), object(10)
memory usage: 31.7+ MB

In [68]:
final_df.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,date_registration,date_unregistration,id_assessment,date_submitted,is_banked,score,assessment_type,date,weight,total_clicks,module_presentation_length
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN,1752.0,18.0,0.0,78.0,TMA,19.0,10.0,934.0,268
1,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN,1753.0,53.0,0.0,85.0,TMA,54.0,20.0,934.0,268
2,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN,1754.0,115.0,0.0,80.0,TMA,117.0,20.0,934.0,268
3,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN,1755.0,164.0,0.0,85.0,TMA,166.0,20.0,934.0,268
4,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN,1756.0,212.0,0.0,82.0,TMA,215.0,30.0,934.0,268

In [ ]:
final_df.groupby(['id_student', 'code_module', 'code_presentation']).agg({
    'score': ['mean', 'min', 'max', 'count'],
    'total_clicks': 'first',
    'module_presentation_length': 'first'
}).reset_index()